* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #000000;
    --text-alternate: #fff;
    --primary: #ee392b;
    --secondary: #b07c6d;
    --accent: #63f4ba;

}

body {
    background: var(--background);
}

h1 {
    text-align: center;
    color: var(--text);
    background: var(--primary);
    padding: 1rem;
    border-bottom: 5px solid var(--accent);
}

.hero img {
    width: 100%;
}

section {
    background: var(--secondary);
    text-align: center;
    border: 2px solid var(--accent);
}

#icon {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    background: var(--accent);
}

@media screen and (min-width: 400px) {

    #icon {
        display: none;
    }

    #mini:after {
        content: '🌦️';
    }

    .hero {
        position: static;
        height: 600px;
    }

    .hero img {
        position: absolute;
        height: 600px;

    }

    section {
        position: relative;
        background: #b07c6d66;
        max-width: fit-content;
    }

    #weather {
        bottom: 10px;
        left: 80%;
    }

    main {
        height: 600px;
    }

    footer {
        position: relative;
        padding: 25px;
        border: 2px solid var(--accent);
    }
}